<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_MailPreview>
            <version>0.1.0</version>
        </SnowCommerce_MailPreview>
    </modules>
    <admin>
        <routers>
            <preview>
                <use>admin</use>
                <args>
                    <module>SnowCommerce_MailPreview</module>
                    <frontName>sc_mail</frontName>
                </args>
            </preview>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sc_mail>
                    <file>sc_mail.xml</file>
                </sc_mail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <sc_mail>
                <class>SnowCommerce_MailPreview_Model</class>
            </sc_mail>
        </models>
        <blocks>
            <sc_mail>
                <class>SnowCommerce_MailPreview_Block</class>
            </sc_mail>
        </blocks>
        <helpers>
            <sc_mail>
                <class>SnowCommerce_MailPreview_Helper</class>
            </sc_mail>
        </helpers>
        <resources>
            <sc_mail_setup>
                <setup>
                    <module>SnowCommerce_MailPreview</module>
                </setup>
            </sc_mail_setup>
        </resources>
        <!--<events>-->
        <!--<adminhtml_block_html_before>-->
        <!--&lt;!&ndash;Use for rewrite Adminhtml&ndash;&gt;-->
        <!--&lt;!&ndash;You can comment of this block to speed up the module, if you do not use this section&ndash;&gt;-->
        <!--<observers>-->
        <!--<adminhtml_block_html_before>-->
        <!--<type>singleton</type>-->
        <!--<class>blockObserver/observer</class>-->
        <!--<method>runBlockObserver</method>-->
        <!--</adminhtml_block_html_before>-->
        <!--</observers>-->
        <!--</adminhtml_block_html_before>-->
        <!--<core_block_abstract_to_html_before>-->
        <!--</events>-->
        <!--<block_events>&lt;!&ndash;Example rewrite of block Mage_Adminhtml_Block_Sales_Order_Grid:&ndash;&gt;-->
        <!--<Mage_Adminhtml_Block_Sales_Order_Grid>-->
        <!--<observers>-->
        <!--<type>singleton</type>-->
        <!--<block>blockObserver/adminhtml_sales_order_grid</block>-->
        <!--<method>Mage_Adminhtml_Block_Sales_Order_Grid</method>-->
        <!--<parent>true</parent>-->
        <!--</observers>-->
        <!--</Mage_Adminhtml_Block_Sales_Order_Grid>-->
        <!--</block_events>-->
    </global>
</config>
